<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-7">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vanessa Mamanses Malabanan | Resume</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Inter:wght@600;800&family=Lora:ital,wght@0,700;1,600&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
    integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw=="
    crossorigin="anonymous" referrerpolicy="no-referrer" />

  <link rel="stylesheet" href="css/styles.css">
</head>

<body>
  <!-- // Intro -->
  <header id="home">
    <nav class="site-navigation">
      
      <a href="#home" class="nav-link">Home</a>
      <a href="#workex" class="nav-link">Experience</a>
      <a href="#education" class="nav-link">Education</a>
      <a href="#contact" class="nav-link">Contact</a>
      <a href="https://www.linkedin.com/in/vanessa-mamanses-malabanan-771723225"
  class="nav-link" target="_blank" rel="noopener noreferrer">LinkedIn</a>

    </nav>
    <div class="content-wrap">
      <div class="flex-column">
      <div class="column-narrow">
      </div>
      <div class="column-wide">
        <h1>Vanessa Mamanses Malabanan</h1>
        <h2>OpenToWork - Aspiring  a Career in Cloud Engineering</h2>
        <p>  Experienced Project Admin/ Coordinator with training in a wide range of project management tasks. Able to work under pressure and collaborate with a team.</p>
  
    </div>
      </div>
    </div>
  </header>

  <main>
    <!-- // Work Experience -->
    <section class="work-experience" id="workex">
      <div class="content-wrap">
        <h2>Work Experience</h2>
        <div class="flex-column">
        <div class="column-narrow">


          <!-- Job Details: copy this whole block to add more jobs -->
          <h3>Service Desk Analyst</h3>
          <p>ITCS GRP | IT Consulting Sol. SG P/L</p>
          <p>21st November 2022  to 28th February 2023 </p>
        </div>
        <div class="column-wide">
          <!-- Add as many paragraphs as you need. -->
          <ul>
            <li>Identifying and diagnose issues and problems</li>
            <li>Categorize and record reported queries and provide solutions</li>
            <li>Support problem identification </li>
            <li>Advise users on appropriate course of action  </li>
            <li>Monitor issues from start to resolution   </li>
            <li>Escalate, if needed, unresolved problems to a higher level of support </li>
            <li>Provide essential online security advice and support </li>
          </ul>  
         
        </div>
        </div>
        <div class="flex-column">
        <div class="column-narrow">     
         <!-- Job Details: copy this whole block to add more jobs -->
          <h3>IT Administrator</h3>
          <p>M-DAQ Pte Ltd</p>
          <p>26th April 2022  to 21st October 2022</p>
        </div>
        <div class="column-wide">
          <!-- Add as many paragraphs as you need. -->
          <ul>
            <li>Provide users with hardware/software support including Network, Server and PC troubleshooting</li>
            <li>Manage Office365, LDAP, Active Directory</li>
            <li>Manage Office365, LDAP, Active Directory</li>
            <li>Administer Confluence and Jira both access and security policies</li>
            <li>Maintain and proactively improve the IT infrastructure of the company to avoid disruptions to operations. The infrastructure covers office equipment like Personal Computers(Windows or MacOS systems), Network, Servers, Printers. </li>
            <li>Email administration such as creating/maintaining User IDs and Email Addresses</li>
          </ul>  
          </div>
          </div>
        <div class="flex-column">
        <div class="column-narrow">
          <!-- Job Details: copy this whole block to add more jobs -->
              <h3>Project Administrator / Sourcing Specialist</h3>
              <p>HONEYWELL PTE LTD</p>
              <p>2nd July 2012  to 30th September 2013</p>
        </div>
        <div class="column-wide">
          <!-- Add as many paragraphs as you need. -->
           <ul>
            <li>Implements plans to assure orders meet specified quality and delivery times and to minimize the total cost of purchases</li>
            <li>Documents performance to action plans and timelines for assigned sourcing project</li>
            <li>Handles requests for information, quotations, proposals, and bidding processes</li>
            <li>Negotiates with suppliers to meet quality, delivery, and cost objectives</li>
            <li>Executes contract negotiation and development in coordination with Contract Specialists</li>
            <li>Works with Sourcing Manager or Sourcing Leader to guarantee supply for all portfolios</li>
            <li>Identifies opportunities and implements actions to achieve efficiency. </li>
            <li>Ensuring the document management system is maintained and up to date </li>
            <li>Manage the project documents, reports and plans (all print outs and files uploaded in ACONEX) </li>
            <li>Oversee the creating, review, approval, update and re-approval, scanning and conversion, identification and status of project documentation. </li>
            <li>Provide administrative support to Project Director (process Expense claim in eConcur, track department budget & expenses, arrange travel, business meeting etc) </li>
            <li>Prepare Monthly Progress Report </li>
          </ul>  
          </div>
          </div>
        <div class="flex-column">
        <div class="column-narrow">
          <!-- Job Details: copy this whole block to add more jobs -->
              <h3>Business Coordinator</h3>
              <p>CEMENTAID (SEA) PTE. LTD.</p>
              <p>1st April 2008 – 30th July 2010</p>
        </div>
        <div class="column-wide">
          <!-- Add as many paragraphs as you need. -->
           <ul>
            <li>Administered a comprehensive business support activity to meet the continuous demand of internal and external customer. </li>
            <li>Handled Export and Import Sales (Liaise with overseas branch; Arrange shipment with agents/ forwarders; Process Certificate of Origin, Commercial Invoice, Packing List, and other shipping documents) </li>
            <li>Prepared the warranty for all the projects. </li>
            <li>Conducted stocktaking in the factory. </li>
            <li>Handled Operation Department administrative task (Updates Worker's Database; Process Worker's Permit & Man Year Entitlement Application; Arrange the application and schedule for Worker’s Medical Exam and SOC (Safety and Orientation Course); Updates Worker’s leave database; Coordinate with Contractors for any documents required; Attend to Concrete Service Department Meeting & Prepare the Minutes of the Meeting; Verifies all the Site Reports)</li>
            <li>Provided assistance to Sales Department (Prepare Quotation; Updates database for all the projects; Information retrieval; Updates project list in the public folder; Maintains proper documentation of Sub-Contracts, Letter of Awards, Cement Mix Design, Water Absorption test result, Technical Drawings etc.; Process Bankers Guarantee; Amends minimal revisions on technical drawings using AutoCAD)</li>
            <li>Assist Admin and Human Resource Manager in preparing & placing external advertisements for recruitment; Arrange interviews in accordance with interviewer’s availability; Organize and set up the room for interviews; Inform applicants of the status of their application. </li>
            <li>Performed administrative support to Associate Director and National Sales Manager </li>
          </ul>  
          </div>
          </div>
        <div class="flex-column">
        <div class="column-narrow">
          <!-- Job Details: copy this whole block to add more jobs -->
              <h3>Customer Service Specialist </h3>
              <p>CARRIER SINGAPORE PTE. LTD.</p>
              <p>17th July  2006 – 28th March 2008</p>
        </div>
        <div class="column-wide">
          <!-- Add as many paragraphs as you need. -->
           <ul>
            <li>Arranged aircon routine servicing and handled incoming call complaints and requests.</li>
            <li>Log-in appointment details to the system and coordinate urgent to technical supervisor.</li>
            <li>Send quotation for replacement of spare part and repair</li>
            <li>Prepared & submit call statistics for management staff review. </li>
            <li>Provided feedback to Manager on customer issues, processes and procedures for further improvement.</li>
            <li>Participated in Root Cause Analysis including case or problem management activities and other projects assigned by immediate supervisor </li>
          </ul>  
          <!-- end of Job Details block. -->
          </div>
          </div>
      </div>
    </section>


    <!-- // Education -->
    <section class="education" id="education">
      <div class="education-inner">
        <div class="content-wrap">
          <h2>Education and Highest Qualifications</h2>

          <!-- School details: copy this whole block to add more schools. -->
          <h3>Generation Programme, Singapore</h3>
        <p>June to September 2023</p>

        <!-- Add as many paragraphs as you need. -->
        <p>Attending #GetReadySG Microsoft Career Transition Scholarship Programme in Cloud Support & DevOps</p>
        <!-- School details: copy this whole block to add more schools. -->
      <h3>National University of Singapore, 2023</h3>
      <p>FintechSG Programme (Level 2) Developers Toolkit</p>

      <!-- Add as many paragraphs as you need. -->
      <p>Frontend, Middleware to Backend | APIs and RPA: Automation, Bots and Future</p>
      <!-- School details: copy this whole block to add more schools. -->
      <h3>National University of Singapore</h3>
      <p>September 2021 - March 2022</p>

      <!-- Add as many paragraphs as you need. -->
      <p>SGUnited Skills Programme in Business Analytics and Automation Tools</p>
      <!-- End of school details. -->
        </div>
      </div>

    </section>
  </main>

  <!-- // Footer & contact info -->
  <footer id="contact">
    <div class="content-wrap">
      <h2>Keep in Touch</h2>

      <!-- Social media and contact links. Add or remove any networks. -->
      <div class="contact-info">
        <i class="fa-regular fa-envelope"></i>
        <a href="vmalabanan@gmail.com">vmalabanan@gmail.com</a>
        <i class="fa-brands fa-linkedin-in"></i>
        <a href="https://www.linkedin.com/in/vanessa-mamanses-malabanan-771723225" target="_blank">LinkedIn</a>

      </div>

      <p>Copyright 2023 by Vanessa Mamanses Malabanan</p>
    </div>
  </footer>
</body>

</html>
